In [4]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("Startups.csv")

In [7]:
df

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California        NaN
7         NaN       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08             NaN        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16        NaN       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18        NaN       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53             NaN        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida        NaN
27   72107.60       127864.55        353183.81    New York  105008.31
28        NaN       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51             NaN        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida        NaN
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [8]:
df.shape

(50, 5)

In [9]:
df.isna()

    R&D Spend  Administration  Marketing Spend  State  Profit
0       False           False            False  False   False
1       False           False            False  False   False
2       False           False            False  False   False
3       False           False            False  False   False
4       False           False            False  False   False
5       False           False            False  False   False
6       False           False            False  False    True
7        True           False            False  False   False
8       False           False            False  False   False
9       False           False            False  False   False
10      False            True            False  False   False
11      False           False            False  False   False
12      False           False            False  False   False
13      False           False            False  False   False
14      False           False            False  False   False
15      False           False            False  False   False
16       True           False            False  False   False
17      False           False            False  False   False
18       True           False            False  False   False
19      False           False            False  False   False
20      False           False            False  False   False
21      False           False            False  False   False
22      False           False            False  False   False
23      False            True            False  False   False
24      False           False            False  False   False
25      False           False            False  False   False
26      False           False            False  False    True
27      False           False            False  False   False
28       True           False            False  False   False
29      False           False            False  False   False
30      False           False            False  False   False
31      False           False            False  False   False
32      False           False            False  False   False
33      False           False            False  False   False
34      False           False            False  False   False
35      False           False            False  False   False
36      False           False            False  False   False
37      False           False            False  False   False
38      False           False            False  False   False
39      False            True            False  False   False
40      False           False            False  False   False
41      False           False            False  False    True
42      False           False            False  False   False
43      False           False            False  False   False
44      False           False            False  False   False
45      False           False            False  False   False
46      False           False            False  False   False
47      False           False            False  False   False
48      False           False            False  False   False
49      False           False            False  False   False

In [11]:
dfNaN = df.isna()

In [12]:
dfNaN.sum()

R&D Spend          4
Administration     3
Marketing Spend    0
State              0
Profit             3
dtype: int64

In [13]:
rowsNaN=dfNaN.any(axis=1)

In [14]:
rowsNaN

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7      True
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15    False
16     True
17    False
18     True
19    False
20    False
21    False
22    False
23     True
24    False
25    False
26     True
27    False
28     True
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39     True
40    False
41     True
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
dtype: bool

In [15]:
df[rowsNaN]

    R&D Spend  Administration  Marketing Spend       State     Profit
6   134615.46       147198.87        127716.82  California        NaN
7         NaN       145530.06        323876.68     Florida  155752.60
10  101913.08             NaN        229160.95     Florida  146121.95
16        NaN       121597.55        264346.06  California  126992.93
18        NaN       114175.79        294919.57     Florida  124266.90
23   67532.53             NaN        304768.73     Florida  108733.99
26   75328.87       144135.98        134050.07     Florida        NaN
28        NaN       182645.56        118148.20     Florida  103282.38
39   38558.51             NaN        174999.30  California   81005.76
41   27892.92        84710.77        164470.71     Florida        NaN

### Removendo Dados Nulos

In [19]:
df1 = df.dropna(axis = 1)

In [20]:
df1

    Marketing Spend       State
0         471784.10    New York
1         443898.53  California
2         407934.54     Florida
3         383199.62    New York
4         366168.42     Florida
5         362861.36    New York
6         127716.82  California
7         323876.68     Florida
8         311613.29    New York
9         304981.62  California
10        229160.95     Florida
11        249744.55  California
12        249839.44     Florida
13        252664.93  California
14        256512.92     Florida
15        261776.23    New York
16        264346.06  California
17        282574.31    New York
18        294919.57     Florida
19             0.00    New York
20        298664.47  California
21        299737.29    New York
22        303319.26     Florida
23        304768.73     Florida
24        140574.81    New York
25        137962.62  California
26        134050.07     Florida
27        353183.81    New York
28        118148.20     Florida
29        107138.38    New York
30         91131.24     Florida
31         88218.23    New York
32         46085.25  California
33        214634.81     Florida
34        210797.67  California
35        205517.64    New York
36        201126.82     Florida
37        197029.42  California
38        185265.10    New York
39        174999.30  California
40        172795.67  California
41        164470.71     Florida
42        148001.11  California
43         35534.17    New York
44         28334.72  California
45          1903.93    New York
46        297114.46     Florida
47             0.00  California
48             0.00    New York
49         45173.06  California

#### Substituir pela Média

In [21]:
df['R&D Spend'].fillna(df['R&D Spend'].mean())

0     165349.200000
1     162597.700000
2     153441.510000
3     144372.410000
4     142107.340000
5     131876.900000
6     134615.460000
7      72173.236087
8     120542.520000
9     123334.880000
10    101913.080000
11    100671.960000
12     93863.750000
13     91992.390000
14    119943.240000
15    114523.610000
16     72173.236087
17     94657.160000
18     72173.236087
19     86419.700000
20     76253.860000
21     78389.470000
22     73994.560000
23     67532.530000
24     77044.010000
25     64664.710000
26     75328.870000
27     72107.600000
28     72173.236087
29     65605.480000
30     61994.480000
31     61136.380000
32     63408.860000
33     55493.950000
34     46426.070000
35     46014.020000
36     28663.760000
37     44069.950000
38     20229.590000
39     38558.510000
40     28754.330000
41     27892.920000
42     23640.930000
43     15505.730000
44     22177.740000
45      1000.230000
46      1315.460000
47         0.000000
48       542.050000
49         0.000000
Name: R&D Spend, dtype: float64

In [25]:
from sklearn.impute import SimpleImputer

In [26]:
imputerMean = SimpleImputer(missing_values = np.NaN, strategy = 'mean')

In [27]:
df['R&D Spend'].values

array([165349.2 , 162597.7 , 153441.51, 144372.41, 142107.34, 131876.9 ,
       134615.46,       nan, 120542.52, 123334.88, 101913.08, 100671.96,
        93863.75,  91992.39, 119943.24, 114523.61,       nan,  94657.16,
             nan,  86419.7 ,  76253.86,  78389.47,  73994.56,  67532.53,
        77044.01,  64664.71,  75328.87,  72107.6 ,       nan,  65605.48,
        61994.48,  61136.38,  63408.86,  55493.95,  46426.07,  46014.02,
        28663.76,  44069.95,  20229.59,  38558.51,  28754.33,  27892.92,
        23640.93,  15505.73,  22177.74,   1000.23,   1315.46,      0.  ,
          542.05,      0.  ])

In [28]:
df['R&D Spend'].values.shape

(50,)

In [29]:
df['R&D Spend'].values.reshape(-1,1)

array([[165349.2 ],
       [162597.7 ],
       [153441.51],
       [144372.41],
       [142107.34],
       [131876.9 ],
       [134615.46],
       [      nan],
       [120542.52],
       [123334.88],
       [101913.08],
       [100671.96],
       [ 93863.75],
       [ 91992.39],
       [119943.24],
       [114523.61],
       [      nan],
       [ 94657.16],
       [      nan],
       [ 86419.7 ],
       [ 76253.86],
       [ 78389.47],
       [ 73994.56],
       [ 67532.53],
       [ 77044.01],
       [ 64664.71],
       [ 75328.87],
       [ 72107.6 ],
       [      nan],
       [ 65605.48],
       [ 61994.48],
       [ 61136.38],
       [ 63408.86],
       [ 55493.95],
       [ 46426.07],
       [ 46014.02],
       [ 28663.76],
       [ 44069.95],
       [ 20229.59],
       [ 38558.51],
       [ 28754.33],
       [ 27892.92],
       [ 23640.93],
       [ 15505.73],
       [ 22177.74],
       [  1000.23],
       [  1315.46],
       [     0.  ],
       [   542.05],
       [     0.  ]])

In [30]:
df[['R&D Spend']].shape

(50, 1)

In [32]:
imputerMean.fit_transform(df[['R&D Spend']].values)

array([[165349.2       ],
       [162597.7       ],
       [153441.51      ],
       [144372.41      ],
       [142107.34      ],
       [131876.9       ],
       [134615.46      ],
       [ 72173.23608696],
       [120542.52      ],
       [123334.88      ],
       [101913.08      ],
       [100671.96      ],
       [ 93863.75      ],
       [ 91992.39      ],
       [119943.24      ],
       [114523.61      ],
       [ 72173.23608696],
       [ 94657.16      ],
       [ 72173.23608696],
       [ 86419.7       ],
       [ 76253.86      ],
       [ 78389.47      ],
       [ 73994.56      ],
       [ 67532.53      ],
       [ 77044.01      ],
       [ 64664.71      ],
       [ 75328.87      ],
       [ 72107.6       ],
       [ 72173.23608696],
       [ 65605.48      ],
       [ 61994.48      ],
       [ 61136.38      ],
       [ 63408.86      ],
       [ 55493.95      ],
       [ 46426.07      ],
       [ 46014.02      ],
       [ 28663.76      ],
       [ 44069.95      ],
       [ 20229.59      ],
       [ 38558.51      ],
       [ 28754.33      ],
       [ 27892.92      ],
       [ 23640.93      ],
       [ 15505.73      ],
       [ 22177.74      ],
       [  1000.23      ],
       [  1315.46      ],
       [     0.        ],
       [   542.05      ],
       [     0.        ]])

# Substituindo pela Mediana

In [33]:
imputerMedian = SimpleImputer(missing_values = np.NaN, strategy = 'median')

In [35]:
imputerMedian.fit_transform(df[['R&D Spend']])

array([[165349.2  ],
       [162597.7  ],
       [153441.51 ],
       [144372.41 ],
       [142107.34 ],
       [131876.9  ],
       [134615.46 ],
       [ 69820.065],
       [120542.52 ],
       [123334.88 ],
       [101913.08 ],
       [100671.96 ],
       [ 93863.75 ],
       [ 91992.39 ],
       [119943.24 ],
       [114523.61 ],
       [ 69820.065],
       [ 94657.16 ],
       [ 69820.065],
       [ 86419.7  ],
       [ 76253.86 ],
       [ 78389.47 ],
       [ 73994.56 ],
       [ 67532.53 ],
       [ 77044.01 ],
       [ 64664.71 ],
       [ 75328.87 ],
       [ 72107.6  ],
       [ 69820.065],
       [ 65605.48 ],
       [ 61994.48 ],
       [ 61136.38 ],
       [ 63408.86 ],
       [ 55493.95 ],
       [ 46426.07 ],
       [ 46014.02 ],
       [ 28663.76 ],
       [ 44069.95 ],
       [ 20229.59 ],
       [ 38558.51 ],
       [ 28754.33 ],
       [ 27892.92 ],
       [ 23640.93 ],
       [ 15505.73 ],
       [ 22177.74 ],
       [  1000.23 ],
       [  1315.46 ],
       [     0.   ],
       [   542.05 ],
       [     0.   ]])

# Substituindo pela Moda ou Mais frequente

In [36]:
imputerMedian = SimpleImputer(missing_values = np.NaN, strategy = 'most_frequent')

In [37]:
imputerMedian.fit_transform(df[['R&D Spend']])

array([[165349.2 ],
       [162597.7 ],
       [153441.51],
       [144372.41],
       [142107.34],
       [131876.9 ],
       [134615.46],
       [     0.  ],
       [120542.52],
       [123334.88],
       [101913.08],
       [100671.96],
       [ 93863.75],
       [ 91992.39],
       [119943.24],
       [114523.61],
       [     0.  ],
       [ 94657.16],
       [     0.  ],
       [ 86419.7 ],
       [ 76253.86],
       [ 78389.47],
       [ 73994.56],
       [ 67532.53],
       [ 77044.01],
       [ 64664.71],
       [ 75328.87],
       [ 72107.6 ],
       [     0.  ],
       [ 65605.48],
       [ 61994.48],
       [ 61136.38],
       [ 63408.86],
       [ 55493.95],
       [ 46426.07],
       [ 46014.02],
       [ 28663.76],
       [ 44069.95],
       [ 20229.59],
       [ 38558.51],
       [ 28754.33],
       [ 27892.92],
       [ 23640.93],
       [ 15505.73],
       [ 22177.74],
       [  1000.23],
       [  1315.46],
       [     0.  ],
       [   542.05],
       [     0.  ]])

### Substituindo por um valor constante

In [38]:
imputerMedian = SimpleImputer(missing_values = np.NaN, strategy = 'constant', fill_value = 14500)

In [39]:
imputerMedian.fit_transform(df[['R&D Spend']])

array([[165349.2 ],
       [162597.7 ],
       [153441.51],
       [144372.41],
       [142107.34],
       [131876.9 ],
       [134615.46],
       [ 14500.  ],
       [120542.52],
       [123334.88],
       [101913.08],
       [100671.96],
       [ 93863.75],
       [ 91992.39],
       [119943.24],
       [114523.61],
       [ 14500.  ],
       [ 94657.16],
       [ 14500.  ],
       [ 86419.7 ],
       [ 76253.86],
       [ 78389.47],
       [ 73994.56],
       [ 67532.53],
       [ 77044.01],
       [ 64664.71],
       [ 75328.87],
       [ 72107.6 ],
       [ 14500.  ],
       [ 65605.48],
       [ 61994.48],
       [ 61136.38],
       [ 63408.86],
       [ 55493.95],
       [ 46426.07],
       [ 46014.02],
       [ 28663.76],
       [ 44069.95],
       [ 20229.59],
       [ 38558.51],
       [ 28754.33],
       [ 27892.92],
       [ 23640.93],
       [ 15505.73],
       [ 22177.74],
       [  1000.23],
       [  1315.46],
       [     0.  ],
       [   542.05],
       [     0.  ]])

# Lidando com valores categóricos (Labels)

## LabelEncoder

In [40]:
from sklearn.preprocessing import LabelEncoder

In [41]:
encLabel = LabelEncoder()

In [45]:
estado = pd.DataFrame(df['State'])

In [61]:
 encLabel.fit_transform(df['State'])

array([2, 0, 1, 2, 1, 2, 0, 1, 2, 0, 1, 0, 1, 0, 1, 2, 0, 2, 1, 2, 0, 2,
       1, 1, 2, 0, 1, 2, 1, 2, 1, 2, 0, 1, 0, 2, 1, 0, 2, 0, 0, 1, 0, 2,
       0, 2, 1, 0, 2, 0])

## OneHot Encoder

In [49]:
from sklearn.preprocessing import OneHotEncoder

In [50]:
encOneHot = OneHotEncoder (sparse = False)

In [57]:
estados=pd.DataFrame(df['State'])

In [64]:
estados[['c','f','n']] = encOneHot.fit_transform(df[['State']])

In [65]:
estados

         State    c    f    n    C    F    N
0     New York  0.0  0.0  1.0  0.0  0.0  1.0
1   California  1.0  0.0  0.0  1.0  0.0  0.0
2      Florida  0.0  1.0  0.0  0.0  1.0  0.0
3     New York  0.0  0.0  1.0  0.0  0.0  1.0
4      Florida  0.0  1.0  0.0  0.0  1.0  0.0
5     New York  0.0  0.0  1.0  0.0  0.0  1.0
6   California  1.0  0.0  0.0  1.0  0.0  0.0
7      Florida  0.0  1.0  0.0  0.0  1.0  0.0
8     New York  0.0  0.0  1.0  0.0  0.0  1.0
9   California  1.0  0.0  0.0  1.0  0.0  0.0
10     Florida  0.0  1.0  0.0  0.0  1.0  0.0
11  California  1.0  0.0  0.0  1.0  0.0  0.0
12     Florida  0.0  1.0  0.0  0.0  1.0  0.0
13  California  1.0  0.0  0.0  1.0  0.0  0.0
14     Florida  0.0  1.0  0.0  0.0  1.0  0.0
15    New York  0.0  0.0  1.0  0.0  0.0  1.0
16  California  1.0  0.0  0.0  1.0  0.0  0.0
17    New York  0.0  0.0  1.0  0.0  0.0  1.0
18     Florida  0.0  1.0  0.0  0.0  1.0  0.0
19    New York  0.0  0.0  1.0  0.0  0.0  1.0
20  California  1.0  0.0  0.0  1.0  0.0  0.0
21    New York  0.0  0.0  1.0  0.0  0.0  1.0
22     Florida  0.0  1.0  0.0  0.0  1.0  0.0
23     Florida  0.0  1.0  0.0  0.0  1.0  0.0
24    New York  0.0  0.0  1.0  0.0  0.0  1.0
25  California  1.0  0.0  0.0  1.0  0.0  0.0
26     Florida  0.0  1.0  0.0  0.0  1.0  0.0
27    New York  0.0  0.0  1.0  0.0  0.0  1.0
28     Florida  0.0  1.0  0.0  0.0  1.0  0.0
29    New York  0.0  0.0  1.0  0.0  0.0  1.0
30     Florida  0.0  1.0  0.0  0.0  1.0  0.0
31    New York  0.0  0.0  1.0  0.0  0.0  1.0
32  California  1.0  0.0  0.0  1.0  0.0  0.0
33     Florida  0.0  1.0  0.0  0.0  1.0  0.0
34  California  1.0  0.0  0.0  1.0  0.0  0.0
35    New York  0.0  0.0  1.0  0.0  0.0  1.0
36     Florida  0.0  1.0  0.0  0.0  1.0  0.0
37  California  1.0  0.0  0.0  1.0  0.0  0.0
38    New York  0.0  0.0  1.0  0.0  0.0  1.0
39  California  1.0  0.0  0.0  1.0  0.0  0.0
40  California  1.0  0.0  0.0  1.0  0.0  0.0
41     Florida  0.0  1.0  0.0  0.0  1.0  0.0
42  California  1.0  0.0  0.0  1.0  0.0  0.0
43    New York  0.0  0.0  1.0  0.0  0.0  1.0
44  California  1.0  0.0  0.0  1.0  0.0  0.0
45    New York  0.0  0.0  1.0  0.0  0.0  1.0
46     Florida  0.0  1.0  0.0  0.0  1.0  0.0
47  California  1.0  0.0  0.0  1.0  0.0  0.0
48    New York  0.0  0.0  1.0  0.0  0.0  1.0
49  California  1.0  0.0  0.0  1.0  0.0  0.0

# Normalização dos Dados

### Escala MinMax

In [66]:
from sklearn.preprocessing import MinMaxScaler

In [67]:
scalerX = MinMaxScaler(feature_range = (0,1))

In [69]:
df2 = scalerX.fit_transform(df[['R&D Spend']])

In [70]:
df2

array([[1.        ],
       [0.98335946],
       [0.92798459],
       [0.87313643],
       [0.85943772],
       [0.797566  ],
       [0.81412828],
       [       nan],
       [0.72901786],
       [0.74590551],
       [0.61635061],
       [0.60884455],
       [0.56766982],
       [0.55635219],
       [0.72539353],
       [0.69261666],
       [       nan],
       [0.57246821],
       [       nan],
       [0.52264964],
       [0.46116861],
       [0.47408436],
       [0.4475048 ],
       [0.40842369],
       [0.46594728],
       [0.39107967],
       [0.45557444],
       [0.43609283],
       [       nan],
       [0.39676926],
       [0.37493063],
       [0.36974101],
       [0.38348453],
       [0.33561668],
       [0.2807759 ],
       [0.2782839 ],
       [0.17335288],
       [0.26652654],
       [0.12234465],
       [0.23319442],
       [0.17390063],
       [0.16869099],
       [0.14297577],
       [0.09377566],
       [0.13412668],
       [0.0060492 ],
       [0.00795565],
       [0.        ],
       [0.00327821],
       [0.        ]])

In [72]:
df3 = scalerX.fit_transform(df.iloc[:,[0,1,2,4]])

In [73]:
df3

array([[1.        , 0.65174393, 1.        , 1.        ],
       [0.98335946, 0.76197173, 0.94089337, 0.99735461],
       [0.92798459, 0.37957895, 0.8646636 , 0.99317808],
       [0.87313643, 0.51299839, 0.81223513, 0.94729239],
       [0.85943772, 0.30532804, 0.77613557, 0.85317138],
       [0.797566  , 0.3694479 , 0.76912588, 0.80138177],
       [0.81412828, 0.73016111, 0.27071031,        nan],
       [       nan, 0.71745725, 0.68649342, 0.79440736],
       [0.72901786, 0.74173276, 0.66049977, 0.77446805],
       [0.74590551, 0.43692884, 0.64644319, 0.7606613 ],
       [0.61635061,        nan, 0.48573267, 0.74017475],
       [0.60884455, 0.30836422, 0.52936195, 0.72968626],
       [0.56766982, 0.57883556, 0.52956308, 0.71462897],
       [0.55635219, 0.64106561, 0.53555202, 0.67364377],
       [0.72539353, 0.8013272 , 0.54370828, 0.66404417],
       [0.69261666, 0.54302973, 0.55486446, 0.64892083],
       [       nan, 0.53527036, 0.56031151, 0.63245443],
       [0.57246821, 0.71401273, 0.59894835, 0.62331739],
       [       nan, 0.47877201, 0.62511553, 0.61710347],
       [0.52264964, 0.77823604, 0.        , 0.60871268],
       [0.46116861, 0.47642362, 0.63305328, 0.58448237],
       [0.47408436, 0.78021012, 0.63532724, 0.54415692],
       [0.4475048 , 0.54429273, 0.64291963, 0.53874658],
       [0.40842369,        nan, 0.64599195, 0.52963376],
       [0.46594728, 0.3653876 , 0.29796428, 0.52860915],
       [0.39107967, 0.67195793, 0.29242745, 0.52214616],
       [0.45557444, 0.70684477, 0.28413435,        nan],
       [0.43609283, 0.58297807, 0.74861321, 0.50865352],
       [       nan, 1.        , 0.25042853, 0.49893437],
       [0.39676926, 0.77456642, 0.22709197, 0.48610784],
       [0.37493063, 0.48992809, 0.19316302, 0.48009902],
       [0.36974101, 0.77205322, 0.18698856, 0.46627976],
       [0.38348453, 0.5932935 , 0.09768292, 0.46596599],
       [0.33561668, 0.39413365, 0.45494286, 0.46231175],
       [0.2807759 , 0.81005496, 0.44680961, 0.46193942],
       [0.2782839 , 0.25703165, 0.43561799, 0.4606257 ],
       [0.17335288, 0.57682456, 0.42631115, 0.42812595],
       [0.26652654, 0.        , 0.41762624, 0.42385155],
       [0.12234465, 0.11163611, 0.39269043, 0.37474659],
       [0.23319442,        nan, 0.3709309 , 0.37348913],
       [0.17390063, 0.51204073, 0.36626005, 0.35791393],
       [0.16869099, 0.25446874, 0.34861436,        nan],
       [0.14297577, 0.34185188, 0.31370517, 0.3199513 ],
       [0.09377566, 0.57930693, 0.07531871, 0.31015569],
       [0.13412668, 0.78807166, 0.06005866, 0.28448478],
       [0.0060492 , 0.5547241 , 0.0040356 , 0.28294041],
       [0.00795565, 0.49125975, 0.62976785, 0.19602019],
       [0.        , 0.64054682, 0.        , 0.15698988],
       [0.00327821, 0.00350184, 0.        , 0.11821128],
       [0.        , 0.50014806, 0.09574943, 0.        ]])